ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    border: 2px solid black;
    background-color: black;
    
}
li{
    float: right;
    border: 1px black;
    padding: 15px;
    background-color: black;
    color: white;
}
table {
    width: 100%;
   text-align: left;
   border: 0px;
   background-color: #afacac;
   padding: block 10px;
   padding-right: 0%;
}
tr{
    padding: 15px;
    padding-right: 0%;
    width: 100%;
    padding-left: 0px;
    border: 0px;
}
td, th{
    padding-right: 0px;
    padding: 8px;
    text-align: justify;
    
}